.banner{
    /* border: 0.2px solid black; */
    margin: 2rem 1rem;
    position: relative;
    height: max-content;
    background-color: white;
    line-height: 1.5;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    /* box-sizing: content-box; */

}

.bannerOver {
    cursor: grabbing;
    box-shadow: 1px 1px 1px 1px rgba(67, 134, 252, 1);
}
.bannerDown {
    cursor: grabbing;
    box-shadow: 1px 1px 1px 1px rgba(67, 134, 252, 1);
}

.dragHolder {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    font-size: 0.7rem;
    cursor: grab;
    margin-top: 2px;
    margin-left: 2px;
    left: 0;
    color: #586069;
}

.dragBar {
    width: 100%;    
    border-bottom: 1px solid black;
    border-radius: 1px;
    margin: 1px;
}

.bannerModel {
    padding: 1.2rem;
}